
##DYNAMIC PARAMS#####

####trade params###########################

trade_export_sheet: Trades
trade_export_cell: A3            # Cella in cui esportare i trades_df
number_of_trades_to_show: 200     # Numero di trades_df da mostrare
min_ctv_to_show_trades: 2         # Controvalore minimo per mostrare i trades_df
trade_min_export_interval: 0.1      # Secondi per l'intervallo minimo di esportazione trades_df
output_trade_columns: ["last_update", "price", "quantity", "ctv", "side", "own_trade"]
book_storage_size: 3  #by doing book storage time_lag_in_seconds = size * (tasks-> update_HF -> frequency)

#####price output_NAV###########################
output_prices_cell: "A1"
output_prices_sheet: PriceContainer

####pricing params###########################

pricing:
  driver:
    forecast_aggregation: ewma_outlier
    trimmed_mean:
      perc_outlier: 0.3
    ewma_outlier:
      halflife: 5
      outlier_std: 3

  cluster:
    forecast_aggregation: ewma_outlier
    ewma:
      halflife: 4
    trimmed_mean:
      perc_outlier: 0.3
    ewma_outlier:
      halflife: 10
      outlier_std: 3


  nav:
    forecast_aggregation: ewma_outlier
    trimmed_mean:
      perc_outlier: 0.3
    ewma_outlier:
      halflife: 10
      outlier_std: 3

